/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&family=Ubuntu:wght@300;700&display=swap');

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: #435b69;
    background-color: #fbfdfe;
}

hr {
    margin: 10px 0 20px 0;
    color: #eef3f5;
    border-top: 1px solid #eef3f5;
}

.shiny-output-error {
    visibility: hidden;
}

.shiny-output-error:before {
    visibility: hidden;
}


/* STYLES PANELS*/

.layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-header {
    background-color: teal;
    padding: 1rem;
    color: #fafafa;
}

.layout-panels {
    background-color: #FBFDFE;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
    overflow-x: auto;
}

.app-container:after {
    content: '';
    flex: 0 0 1rem;
}

.app-container {
    display: flex;
    height: 100%;
}

.panel {
    background: #ffffff;
    flex-shrink: 0;
    margin-right: 1.3rem;
    padding: 1rem 1rem 1.5rem 2rem;
    font-size: 0.875rem;
    overflow-y: auto;
    border-top: 1.5px solid #feca84;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.panel::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.panel:last-child {
    margin-right: 0;
}

.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.panel-header-title {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.055em;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

.panel-header-dismiss {
    line-height: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.panel-header-dismiss:focus {
    outline: none;
}

.panel-body {
    margin-top: 2rem;
    padding-right: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-content {
    height: 100%;
    position: relative;
}

.panel-footer {
    padding: 0.5rem 1rem;
}

.panel.collapsed {
    width: auto;
    display: block;
    overflow: hidden;
    writing-mode: vertical-lr;
    padding: 1rem;
}

.panel.collapsed .panel-header {
    transform: rotateZ(180deg);
    cursor: pointer;
    padding-right: 0rem;
}

.panel.collapsed .panel-header-title {
    flex-grow: 1;
    text-align: right;
}

.panel.collapsed .panel-header-dismiss {
    margin: 1rem 0 0;
    transform: rotate(45deg);
}

.panel #download {
  display: block;
}

.panel.collapsed #download {
    display: none;
}

.panel.collapsed .panel-body,
.panel.collapsed .panel-footer {
    opacity: 0;
    padding: 0;
}

.panel.collapsed .panel-content,
.panel.collapsed .panel-footer {
    width: 0;
    overflow: hidden;
}


/* END STYLES PANELS*/

img {
    max-width: 100% !important;
    height: auto !important;
}

h4 {
    color: #B70F7F;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    opacity: 1;
}

.orientation-notice {
    background-color: #000000;
    color: white;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.orientation-notice-content {
    width: 90%;
    margin: auto;
}

.orientation-notice svg {
    fill: currentColor;
}




.viz-types {
    background-color: #ffffff;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 40px);
    padding: 15px 0;
}

.viz-types button {
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    outline: 0;
    position: relative;
    text-align: center;
    width: 40px;
}

.viz-types button:before {
    background: url(/images/check.svg) no-repeat center;
    background-color: #b70f7f;
    background-size: cover;
    border-radius: 50%;
    content: '';
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    width: 10px;
}

.viz-types button.active:before {
    transform: scale(1)
}

.viz-types button img {
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(0.7);
    transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.viz-types button.active img {
    filter: brightness(1) invert(0) !important;
}


.top-malibu {
    border-top: 1.5px solid #3295F5;
}

.top-chardonnay {
    border-top: 1.5px solid #FBC140;
}

.top-magenta {
    border-top: 1.5px solid #DA1C95;
}

.text-malibu {
    color: #3295F5;
}

.text-chardonnay {
    color: #FBC140;
}

.text-magenta {
    color: #DA1C95;
}

/* Loader GIF */
.loader-img {
  width: 100px !important;
}


/* ESTILOS BOX */
.box-collapsible {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box-collapsible-trigger {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    cursor: pointer;
    padding: 1rem 1.25rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.box-collapsible-trigger.active .box-collapsible-icon {
    transform: rotate(0);
}

.box-collapsible-icon {
    width: 1.25rem;
    height: 1.25rem;
    transform: rotate(180deg);
}

.box-collapsible-trigger:hover {
    background-color: #F7FAFC;
}

.box-collapsible-content {
    padding: 0 1.25rem;
    overflow: hidden;
    background-color: transparent;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .5s ease-in;
    transition-delay: 0.25s;
    z-index: -1;
}

.modal-wrapper {
    max-width: 80%;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow-y: scroll;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in;
    transition-delay: 0.25s;
    /* Para diseño */
    max-height: 90%;
}

.modal-content {
    padding: 1rem;
    opacity: 0;
    transition: opacity .25s ease-in;
    transition-delay: 0s;
}

.modal.is-visible {
    opacity: 1;
    transition-delay: 0s;
    z-index: 666;
}

.modal.is-visible .modal-wrapper {
    top: 50%;
    opacity: 1;
    transition-delay: 0s;
}

.modal.is-visible .modal-content {
    opacity: 1;
    transition-delay: 0.5s;
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.modal-title h3 {
    margin: 0;
}

/* Topbar */
.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.topbar__img {
    width: 80px;
}

.topbar__title {
    margin-left: 1rem;
}


/*Hover info styles*/

.info-tool {
    display: inline-flex;
}

.info-tool i {
  color: #8097a4;
}

.tooltip-inf {
    cursor: pointer;
    position: relative;
    margin-left: 3px;
}

.tooltip-inf .tooltiptext {
    visibility: hidden;
    background-color: #ffffff !important;
    color: #435b69;
    position: absolute;
    z-index: 9999;
    top: calc(100%) !important;
    left: calc(100%) !important;
    padding: 1rem !important;
    border: 1px solid #e6eaed;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: normal;
    font-size: 0.75rem;
    text-align: left;
    width: 250px;
}

.tooltip-inf:hover .tooltiptext {
    visibility: visible;
}

/*
BOTONS STYLE
*/

.input-group {
    position: relative;
    display: inline-flex;
    border-collapse: separate;
    align-items: baseline;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
    width: 100%;
    margin-left: 3px;
}


.btn,
.modal-trigger {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s linear;
    cursor: pointer;
    background: #B70F7F;
    border: 0px;
    border-radius: 0.35rem;
    color: #ffffff;
}

.btn-default {
    border-radius: 0.35rem;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover {
    background: rgba(50, 50, 100, 0.5);
}


.progress.shiny-file-input-progress {
    visibility: hidden;
}

.progress {
    height: 20px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}


.progress-bar.active,
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}


.progress-bar-striped,
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #B70F7F;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}



.control-label {
    display: inline-block;
}


/* Selectores */


.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100% !important;
}


.form-group {
    display: flex;
    margin-bottom: 13px;
    flex-direction: column;
}

.selectize-input {
  border: 1px solid #e6eaed !important;
  border-radius: 5px !important;
}

.selectize-input.focus {
  box-shadow: none !important;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 5px 2px 5px !important;
}

.selectize-control.multi .selectize-input > div {
  background-color: #eef3f5 !important;
  color: #435b69 !important;
  margin: 0 4px 4px 0 !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  width: 20px !important;
}


label {
    margin-bottom: 9px;
}


.form-control {
    background: #eef3f5;
    border: 0px;
    border-radius: 0px;
    padding: 5px;
}

/*
SLIDER STYLES
*/


.irs-bar-edge {
    border: 0px !important;
    border-right: 0 !important;
    background: #DA1C95 !important;
}


.irs-bar {
    border-top: 1px solid #DA1C95 !important;
    border-bottom: 1px solid #DA1C95 !important;
    background: #DA1C95 !important;
}


.irs-slider {
    top: 18px !important;
    width: 19px !important;
    height: 19px !important;
    border: none !important;
    box-shadow: none !important;
    background: #DA1C95 !important;
    border-radius: 50% !important;
}

.irs-line {
    height: 8px !important;
    top: 25px !important;
    background: #eef3f5 !important;
    border: 0px !important;
}


.irs-from,
.irs-to,
.irs-single {
    color: #DA1C95 !important;
    background: transparent !important;
    font-weight: 700 !important;
}


.irs-min,
.irs-max {
    display: none !important;
}

.irs-grid-pol {
  background: #c7cfd1 !important;
  height: 4px !important;
  width: 2px !important;
}

.irs-grid-pol.small {
  background: none !important;
  height: 0px !important;
  width: 0px !important;
}

.irs-grid-text {
  color: #435b69 !important;
}


/*RADIOBUTTONS STYLE*/

input[type="radio"] {
    cursor: pointer;
    margin: 0px;
    outline: none;
    padding: 3px;
    position: relative;
    transition: all 0.25s;
}


/*
scroll STYLES
*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #e2eaed;
}

::-webkit-scrollbar-thumb {
    background: #CCCCCC;
}

::-webkit-scrollbar:focus {
    overflow: scroll;
    display: block;
    background: #CCCCCC;
}


.infomessage {
    color: #666;
    padding: 10px;
    margin: 10px auto;
}

.infomessage.warning {
    background-color: #fff7e8;
    border: orange solid 1px;
}

.infomessage.success {
    background-color: #e8fff5;
    border: green solid 1px;
}

.infomessage.info {
    background-color: #e8f6ff;
    border: #6898ca solid 1px;
}

.infomessage.error {
    background-color: #fbeaea;
    border: #f28484 solid 1px;
}



/*TITLES STYLES*/

.style_section {
    color: #DA1C95;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
    letter-spacing: 0.055em;
    margin-top: 2.5rem;
    margin-bottom: 0.3rem;
    padding-top: 0.5rem;
}

.style_section:first-of-type {
  margin-top: 0rem;
}

.title-data-select {
  color: #DA1C95;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) and (orientation: landscape) {
    .orientation-notice {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .orientation-notice {
        display: none;
    }
}


/*PRE*/

pre {
    word-wrap: normal;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
