/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&family=Ubuntu:wght@300;700&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body {
  background-color: #fbfdfe;
  box-sizing: border-box;
  color: #435b69;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

hr {
  border-top: 1px solid #eef3f5;
  color: #eef3f5;
  margin: 10px 0 20px 0;
}

/* STYLES PANELS*/

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-header {
  background-color: teal;
  color: #fafafa;
  padding: 1rem;
}

.layout-panels {
  background-color: #fbfdfe;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: auto;
  padding: 1rem;
}

.app-container:after {
  content: '';
  flex: 0 0 1rem;
}

.app-container {
  display: flex;
  height: 100%;
}

.panel {
  background: #ffffff;
  border-top: 1.5px solid #feca84;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 0.875rem;
  margin-right: 1.3rem;
  overflow-y: auto;
  /* padding: 0 0 1.5rem 0; */
  padding: 0;
}

.panel::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.panel:last-child {
  margin-right: 0;
}

.panel-header {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.panel-header-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}

.panel-header-dismiss {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.panel-header-dismiss:focus {
  outline: none;
}

.panel-body {
  flex-grow: 1;
  margin-top: 1rem;
  padding: 0 2rem;
}

.panel-body.footerless {
  padding-bottom: 1.5rem;
}

#edit_viz_body {
  overflow-y: auto;
}

.panel-content {
  height: 100%;
  /* position: relative; */
}

.panel-footer {
  background-color: #ffffff;
  bottom: 0;
  /* padding: 0.5rem 2rem 2rem 3rem; */
  padding: 1rem 2rem;
  position: sticky;
  z-index: 10;
}

.panel.collapsed {
  display: block;
  overflow: hidden;
  padding: 1rem;
  width: auto;
  writing-mode: vertical-lr;
}

.panel.collapsed .panel-header {
  padding: 0rem;
  transform: rotateZ(180deg);
}

.panel.collapsed {
  cursor: pointer;
}

.panel.collapsed .panel-header-title {
  flex-grow: 1;
  text-align: right;
}

.panel.collapsed .panel-header-dismiss {
  margin: 1rem 0 0;
  transform: rotate(45deg);
}

.panel #download {
  display: block;
}

.panel.collapsed #download {
  display: none;
}

.panel.collapsed .panel-body,
.panel.collapsed .panel-footer {
  opacity: 0;
  padding: 0;
}

.panel.collapsed .panel-content,
.panel.collapsed .panel-footer {
  overflow: hidden;
  width: 0;
}

/* END STYLES PANELS*/

img {
  height: auto !important;
  max-width: 100% !important;
}

h4 {
  color: #b70f7f;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.7px;
  opacity: 1;
  text-transform: uppercase;
}

.orientation-notice {
  background-color: #000000;
  color: white;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.orientation-notice-content {
  margin: auto;
  width: 90%;
}

.orientation-notice svg {
  fill: currentColor;
}

.viz-types {
  background-color: #ffffff;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 40px);
  padding: 1rem 0;
}

.viz-types button {
  align-items: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  outline: 0;
  position: relative;
  text-align: center;
  width: 40px;
}

.viz-types button:before {
  background: url(/images/check.svg) no-repeat center;
  background-color: #b70f7f;
  background-size: cover;
  border-radius: 50%;
  content: '';
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 10px;
}

.viz-types button.active:before {
  transform: scale(1);
}

.viz-types button img {
  filter: brightness(0) invert(0.7);
  height: 35px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 35px;
}

.viz-types button.active img {
  filter: brightness(1) invert(0) !important;
}

.top-malibu {
  border-top: 1.5px solid #3295f5;
}

.top-chardonnay {
  border-top: 1.5px solid #fbc140;
}

.top-magenta {
  border-top: 1.5px solid #da1c95;
}

.text-malibu {
  color: #3295f5;
}

.text-chardonnay {
  color: #fbc140;
}

.text-magenta {
  color: #da1c95;
}

/* Loader GIF -- rewriting shinycostumloader package styles */
.load-container {
  transform: translateY(37%) !important;
}

.loader-img {
  width: 20% !important;
}

/* ESTILOS BOX */
.box-collapsible {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box-collapsible-trigger {
  background-color: transparent;
  border: none;
  color: #444;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: space-between;
  outline: none;
  outline: none;
  padding: 1rem 1.25rem;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.box-collapsible-trigger.active .box-collapsible-icon {
  transform: rotate(0);
}

.box-collapsible-icon {
  height: 1.25rem;
  transform: rotate(180deg);
  width: 1.25rem;
}

.box-collapsible-trigger:hover {
  background-color: #f7fafc;
}

.box-collapsible-content {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  padding: 0 1.25rem;
  transition: max-height 0.2s ease-out;
}

/* MODAL */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition-delay: 0.25s;
  transition: opacity 0.5s ease-in;
  width: 100%;
  z-index: -1;
}

.modal-wrapper {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 80%;
  opacity: 0;
  overflow-y: scroll;
  position: absolute;
  top: -100%;
  transform: translate(-50%, -50%);
  transition-delay: 0.25s;
  transition: all 0.5s ease-in;
  /* Para diseño */
  max-height: 90%;
}

.modal-content {
  opacity: 0;
  padding: 1rem;
  transition-delay: 0s;
  transition: opacity 0.25s ease-in;
}

.modal.is-visible {
  opacity: 1;
  transition-delay: 0s;
  z-index: 9999;
}

.modal.is-visible .modal-wrapper {
  opacity: 1;
  top: 46%;
  transition-delay: 0s;
}

.modal.is-visible .modal-content {
  opacity: 1;
  transition-delay: 0.5s;
}

.modal-title {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-title h3 {
  margin: 0;
}

/* Topbar */
.topbar {
  align-items: center;
  display: flex;
  padding: 0 30px;
  width: 100%;
}

.topbar__img {
  width: 80px;
}

.topbar__title {
  margin-left: 1rem;
}

/*
TOOLTIP
*/

.tooltip {
  align-items: center;
  display: flex;
}

.tooltip-slot {
  margin-left: 4px;
}

.tooltip-icon {
  color: #8097a4;
  cursor: pointer;
}

.tooltip-content {
  background-color: #ffffff;
  border: 1px solid #e6eaed;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  color: #435b69;
  display: none;
  font-family: Arial;
  font-size: 0.75rem;
  max-width: 250px;
  min-width: 180px;
  padding: 1rem;
  position: absolute;
}

.tooltip-slot:hover .tooltip-content {
  display: block;
  z-index: 10;
}

/*
BUTTONS STYLE
*/

.input-group {
  align-items: baseline;
  border-collapse: separate;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eef3f5;
  border-radius: 2px;
  opacity: 1;
  width: 100%;
}

.btn,
.modal-trigger {
  background: #da1c95;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s linear;
}

.btn-default {
  border-radius: 0.35rem;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.btn:hover {
  background: #b70f7f;
}

.progress.shiny-file-input-progress {
  visibility: hidden;
}

.progress {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar.active,
.progress.active .progress-bar {
  -o-animation: progress-bar-stripes 2s linear infinite;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped,
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress-bar {
  -o-transition: width 0.6s ease;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  background-color: #b70f7f;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  text-align: center;
  transition: width 0.6s ease;
  width: 0%;
}

.control-label {
  display: inline-block;
  font-weight: 500;
}

#initial_data-tableInputControls .control-label {
  margin-bottom: 5px;
}

/*
TEXTAREA STYLE
*/

textarea.form-control {
  border-radius: 8px;
  padding: 10px;
}

/*
CHECKBOX STYLE (Not working)
*/

/*.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input[type="checkbox"] ~ .checkbox label span {
  background-color: #ccc;
}

.checkbox label input[type="checkbox"]:checked ~ .checkbox label span {
  background-color: #2196F3;
}

.checkbox label span:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox label input[type="checkbox"]:checked ~ .checkbox label span:after {
  display: block;
}

.checkbox label .checkbox label span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/

/* Selectores */

.shiny-input-checkboxgroup label ~ .shiny-options-group,
.shiny-input-radiogroup label ~ .shiny-options-group {
  margin-top: 0px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100% !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

#initial_data-tableInputControls .form-group {
  margin-bottom: 20px;
}

/*#initial_data-tableInputControls .input-group {
  margin-top: 10px;
}*/

#initial_data-tableInput.form-group {
  margin-bottom: 25px;
}

.selectize-input {
  border: 1px solid #e6eaed !important;
  border-radius: 5px !important;
}

.selectize-input.focus {
  box-shadow: none !important;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #435b69 !important;
}

.selectize-dropdown .active {
  color: #435b69 !important;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
  border: 1px solid #e6eaed !important;
}

.selectize-control.single .selectize-input::after {
  border-color: #cad5dd transparent transparent transparent !important;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 5px 2px 5px !important;
}

.selectize-control.multi .selectize-input > div {
  background-color: #eef3f5 !important;
  color: #435b69 !important;
  margin: 0 4px 4px 0 !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  width: 20px !important;
}

label {
  margin-bottom: 5px;
}

.form-control {
  background: #eef3f5;
  border: 0px;
  border-radius: 0px;
  padding: 5px;
  color: #435b69;
  font-family: 'IBM Plex Sans';
  font-size: 0.8rem;
  font-weight: 300;
  outline: none;
  width: 100% !important;
}

.form-control.selectize-control,
.form-control .selectize-dropdown-content {
  font-size: 0.875rem;
  font-weight: 300;
}

/*
SLIDER STYLES
*/

.irs-bar-edge {
  border: 0px !important;
  border-right: 0 !important;
  background: #da1c95 !important;
}

.irs-bar {
  border-top: 1px solid #da1c95 !important;
  border-bottom: 1px solid #da1c95 !important;
  background: #da1c95 !important;
}

.irs-slider {
  top: 18px !important;
  width: 19px !important;
  height: 19px !important;
  border: none !important;
  box-shadow: none !important;
  background: #da1c95 !important;
  border-radius: 50% !important;
}

.irs-slider:hover {
  background-color: #b70f7f !important;
}

.irs-line {
  height: 8px !important;
  top: 25px !important;
  background: #eef3f5 !important;
  border: 0px !important;
}

.irs-from,
.irs-to,
.irs-single {
  color: #da1c95 !important;
  background: transparent !important;
  font-weight: 700 !important;
}

.irs-min,
.irs-max {
  display: none !important;
}

.irs-grid-pol {
  background: #c7cfd1 !important;
  height: 4px !important;
  width: 2px !important;
}

.irs-grid-pol.small {
  background: none !important;
  height: 0px !important;
  width: 0px !important;
}

.irs-grid-text {
  color: #435b69 !important;
}

/*RADIOBUTTONS STYLE*/

input[type='radio'] {
  cursor: pointer;
  margin: 0px;
  outline: none;
  padding: 3px;
  position: relative;
  transition: all 0.25s;
}

/*
scroll STYLES
*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #e2eaed;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
}

::-webkit-scrollbar:focus {
  overflow: scroll;
  display: block;
  background: #cccccc;
}

.infomessage {
  color: #666;
  padding: 10px;
  margin: 10px auto;
}

.infomessage.warning {
  background-color: #fff7e8;
  border: orange solid 1px;
}

.infomessage.success {
  background-color: #e8fff5;
  border: green solid 1px;
}

.infomessage.info {
  background-color: #e8f6ff;
  border: #6898ca solid 1px;
}

.infomessage.error {
  background-color: #fbeaea;
  border: #f28484 solid 1px;
}

/*TITLES STYLES*/

.section_0 {
  margin-bottom: 1.5rem;
}

.style_section {
  color: #da1c95;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.055em;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.style_section:first-of-type {
  margin-top: 0rem;
}

.title-data-select {
  color: #da1c95 !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}

@media screen and (min-width: 0px) and (orientation: landscape) {
  .orientation-notice {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .orientation-notice {
    display: none;
  }
}

/*PRE*/

pre {
  word-wrap: normal;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}


/* end session style */

#ss-connect-dialog {
  font-family: 'IBM Plex Sans' !important;
}


#ss-connect-dialog a{
 text-decoration: none !important;
}

#ss-connect-dialog a::before {
    font-size: 0.875rem;
    border-radius: 0.35rem !important;
    background: #b707f7 !important;
    padding: 10px !important;
    font-family: 'Ubuntu' !important;
}
