@import url('https://fonts.googleapis.com/css?family=Ralleway:400,700');

*,
*:before,
*:after {
	box-sizing: inherit;
}


.shiny-output-error {
  visibility: hidden;
  }
.shiny-output-error:before {
  visibility: hidden; }


html,
body {
	box-sizing: border-box;
	font-family: 'Ralleway', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

.app-container {
	background-color: #fbfdfe;
	display: flex;
	height: 100%;
	padding: 30px;
	width: 100%;
	overflow: visible;
}

.panel {
	background-color: #ffffff;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 1fr;
	margin-right: 1%;
	padding: 15px 0;
	transition: width 0.3s linear;
}

.panel:last-child {
	margin-right: 0;
}

.panel.is-limitless {
	flex: 1 0 auto;
}

/* .panel.is-collapsible {
	width: 31.5%;
	margin-right: 1%;
} */

/* .panel.panel--expanded {
	width: 45.5%;
} */

.panel.is-not-collapsible {
	width: 46.5%;
	grid-template-rows: 20px 1fr auto;
	padding-bottom: 0;
}

.panel.is-not-collapsible.shrinked {
	width: 31.5%;
}

.panel.is-not-collapsible.expanded {
	width: 89.5%;
}

.panel-head {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.panel-title {
	color: #bdcad1;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	opacity: 1;
}

.panel-body {
	padding: 0 15px 15px;
	overflow-y: auto;
}

.panel .panel-body .panel-content {
	transform: scale(1);
}

.panel-footer {
	padding: 0 15px;
}

.viz-types {
	background-color: #ffffff;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 40px);
	padding: 15px 0;
}

.viz-types button {
	align-items: center;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	outline: 0;
	position: relative;
	text-align: center;
	width: 40px;
}

.viz-types button:before {
	background: url(/images/check.svg) no-repeat center;
	background-color: #b70f7f;
	background-size: cover;
	border-radius: 50%;
	content: '';
	height: 10px;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0);
	transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	width: 10px;
}

.viz-types button.active:before {
	transform: scale(1)
}

.viz-types button img {
	height: 35px;
	width: 35px;
	filter: brightness(0) invert(0.7);
	transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.viz-types button.active img {
	filter: brightness(1) invert(0) !important;
}
/* ==== Panel is collapsed ==== */
.panel.is-collapsed {
	grid-template-rows: auto 1fr;
	overflow: hidden;
	width: 45px !important;
	min-width: 45px !important;
	max-width: 45px !important;
	flex: 0 1 auto;
}

.panel.is-collapsed .icon-close {
	transform: rotate(45deg);
}

.panel.is-collapsed .panel-head {
	flex-direction: column;
	padding: 0;
}

.panel.is-collapsed .panel-head .panel-title {
	margin-top: 20px;
	order: 1;
	writing-mode: vertical-lr;
	transform: rotate(180deg)
}

.panel.is-collapsed .panel-body {
	padding: 0;
	overflow: hidden;
}

.panel.is-collapsed .panel-body .panel-content,
.panel.is-collapsed .panel-footer {
	transform: scale(0);
	overflow: hidden;
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
}

.form-group input,
.form-group textarea {
	display: block;
	/*width: 100%;*/
	border: none;
	padding: 10px;
	outline: none;
	font-family: 'Ubuntu', sans-serif;
}

.form-group textarea {
	resize: none;
}
/* ==== Helpers ==== */
.box-shadow {
	box-shadow: 5px 5px 7px 0 #eef3f5;
}

img {
  max-width: 100%;
}

.btn {
	border-radius: 2px;
	color: #b70f7f;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0.7px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.3s linear;
}

.btn:hover {
	background: rgba(189, 202, 209, 0.1);
}

.top-malibu {
	border-top: 2px solid #74d1f7;
}

.top-chardonnay {
	border-top: 2px solid #feca84;
}

.top-magenta {
	border-top: 2px solid #B70F7F;
}

.text-malibu {
	color: #74d1f7;
}

.text-chardonnay {
	color: #feca84;
}

.text-magenta {
	color: #B70F7F;
}

.icon-close {
	transition: transform 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.icon-close line {
	cursor: pointer;
	stroke-width: 2;
	stroke: #bdcad1;
}

.icon-close--malibu line {
	stroke: #74d1f7;
}

.icon-close--chardonnay line {
	stroke: #feca84;
}

.icon-close--gray line {
	stroke: #8097A4;
}
/* ================= */


/* Estilos de salidas de shiny */
/* Radio Botones */


.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100% !important;
}

.shiny-input-container {
  width: 100% !important;
}

.shiny-options-group{
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px !important;
}

input[type="radio"] {
  -webkit-appearance: none;
  background-color: #8097A4;
  border-radius: 50%;
  border: 3px solid #8097A4; /*#B70F7F;*/
  cursor: pointer;
  margin: 0px;
  outline: none;
  padding: 3px;
  position: relative;
  transition: all 0.25s;
}

input[type="radio"]:active,
input[type="radio"]:checked:active,
input[type="radio"]:checked {
  background-color: #B70F7F;
}


.radio label, .radio-inline{
  align-items: center;
  display: inline-flex;
}


input[type="radio"] + span{
 padding: 10px;
 margin-right: 15px;
}

input[type="radio"]:checked + span{
 font-weight: 700;
}



h4 {
  color: #B70F7F;
  font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	opacity: 1;
}

.control-label {
  display: inline-block;
}


/* Selectores */

.form-group {
  display: flex;
  margin-bottom: 13px;
  flex-direction: column;
}

/*.selectize-control.single .selectize-input{
  background: #E2EAED;
}*/


label {
  margin-bottom: 9px;
}


.form-control{
  background: #E2EAED;
  border: 0px;
  border-radius: 0px;
  padding: 5px;
}

.irs-bar-edge {
  border: 0px !important;
  border-right: 0 !important;
  background: #b70f7f !important;
}


.irs-bar {
  border-top: 1px solid #b70f7f !important;
  border-bottom: 1px solid #b70f7f !important;
  background: #b70f7f !important;
}


.irs-slider {
  top: 18px !important;
  width: 19px !important;
  height: 19px !important;
  border: 2px solid #FFFFFF !important;
  background: #b70f7f !important;
  border-radius: 50% !important;
}

.irs-line {
    height: 8px !important;
    top: 25px !important;
    background: #E2EAED !important;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
    border: 0px !important;
}


.irs-from, .irs-to, .irs-single {
    color: #8097A4 !important;
    background: transparent !important;
}


.irs-min, .irs-max {
  display: none !important;
}


.checkbox label {
  display: flex;
  align-items: center;
}



.box-collapsible {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.box-collapsible-trigger {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
  cursor: pointer;
  padding: 1rem 1.25rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.box-collapsible-trigger.active .collapsible-icon {
  transform: rotate(0);
}

.box-collapsible-icon {
  width: 1.25rem;
  height: 1.25rem;
  transform: rotate(180deg);
}

.box-collapsible-trigger:hover {
  background-color: #F7FAFC;
}

.box-collapsible-content {
  padding: 0 1.25rem;
  overflow: hidden;
  background-color: transparent;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity .5s ease-in;
  transition-delay: 0.25s;
  z-index: -1;
}

.modal-wrapper {
  width: 80%;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in;
  transition-delay: 0.25s;
  /* Para diseño */
  height: 300px;
}

.modal-content {
  padding: 1rem;
  opacity: 0;
  transition: opacity .25s ease-in;
  transition-delay: 0s;
}

.modal.is-visible {
  opacity: 1;
  transition-delay: 0s;
  z-index: 1;
}

.modal.is-visible .modal-wrapper {
  top: 50%;
  opacity: 1;
  transition-delay: 0s;
}

.modal.is-visible .modal-content {
  opacity: 1;
  transition-delay: 0.5s;
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.modal-title h3 {
  margin: 0;
}

/* Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.topbar__img {
  width: 80px;
}

.topbar__title {
  margin-left: 1rem;
}

