:root {
  --aqua: #A6CEDE;
  --valentino: #0E0329;
  --gumbo: #8097A4;
  --violet: #2B0834;
  --polar: #FBFDFE;
  --magenta: #B70F7F;
  --disco: #801549;
  --chardonnay: #FECA84;
  --purple-rock: #2E0F35;
  --malibu: #74D1F7;
  --fringy: #ACD9C2;
  --gunsmoke: #868888;
  --silver-sand: #C2C4C4;
  --porcelain: #EEF1F2;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
}

html,
body {
	box-sizing: border-box;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* .layout {
  background: var(--valentino);
  display: flex;
  height: 100%;
  padding: 15px 0;
  position: relative;  
} */

img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.layout {
  background: var(--valentino);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 15px;
}

/*====================*/
/*     Layout nav     */
/*====================*/
.layout__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}

.section__nav {
  align-items: center;
  display: flex;
  padding: 0 0 15px;
  width: 50%;
}

.data__nav {
  overflow: auto;
  padding-right: 15px;
}

.vis__nav {
  display: flex;
  font-size: small;
  justify-content: space-between;
  width: 50%;
  padding-left: 15px;
}

.vis__nav a {
  color: inherit;
  text-decoration: none;
}

/*====================*/
/*     Layout body    */
/*====================*/
.layout__body {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  position: relative;
}

.vis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  width: 50%;
}

.vis__result {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vis__result.shrinked {
  width: 65%;
}

.vis__settings {
  overflow: hidden;
  width: 0;
}

.vis__settings.grown {
  max-height: 500px;
  overflow: auto;
  width: 30%;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 15px;
  width: 50%;
}

.data__preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data__preview.shrinked {
  width: 65%;
}

.data__settings {
  overflow: hidden;
  width: 0;
}

.data__settings.grown {
  max-height: 500px;
  overflow: auto;
  width: 30%;
}

/*====================*/
/*       Dragbar      */
/*====================*/
.drag {
  background: var(--magenta);
  cursor: col-resize;
  border-radius: 2.5px;
  width: 2.5px;
}

/*====================*/
/*   Shared styles    */
/*====================*/
.input__field {
  align-items: center;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: small;
  margin: 0 15px 0 0;
  white-space: nowrap;
}

.input__field_margin {
  margin-bottom: 10px;
}

.input__field label {
  font-weight: lighter;
  margin: 0 0 0 5px;
}

.input__field_vertical {
  align-items: stretch;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.input__field_vertical input[type="input"] {
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
	border-radius: 3px;
	border: 1px solid var(--aqua);
	padding: 8px;
	position: relative;
  appearance: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  outline: none;
  transition: all 0.25s;
}

input[type="radio"]:active,
input[type="radio"]:checked:active,
input[type="radio"]:checked {
	border-color: var(--disco);
  background-color: var(--magenta);
}

input[type="radio"]:checked + label {
  color: var(--magenta)
}

input[type="radio"]:checked:after {
	background: var(--polar);
	left: 50%;
	position: absolute;
	top: 50%;
  border-radius: 50%;
  content: '';
  height: 5px;
  transform: translate(-50%, -50%);
  width: 5px;
  z-index: 1;
}

.settings fieldset {
  border: 1px solid var(--aqua);
}

.settings legend {
  color: var(--aqua);
  font-size: small;
}

#edit-graphic.active {
  color: var(--magenta);
}
/*====================*/
/*     Scrollbars     */
/*====================*/
.data__nav::-webkit-scrollbar {
  height: 3px;
}

.settings::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.data__nav::-webkit-scrollbar-track,
.settings::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--gumbo);
}

.data__nav::-webkit-scrollbar-thumb,
.settings::-webkit-scrollbar-thumb {
  background: var(--aqua);
  border-radius: 10px;
}
