@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

.app-container {
	background-color: #fbfdfe;
	display: flex;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.panel {
	background-color: #ffffff;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 1fr;
	padding: 15px 0;
	transition: width 0.3s linear;
}

.panel.is-collapsable {
	width: 31.5%;
	margin-right: 1%;
}

.panel.panel--expanded {
	width: 45.5%;
}

.panel.is-not-collapsable {
	flex-grow: 1;
	grid-template-rows: 20px 1fr auto;
	padding-bottom: 0;
}

.panel-head {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.panel-title {
	color: #bdcad1;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	opacity: 1;
}

.panel-body {
	padding: 0 15px 15px;
	overflow-y: auto;
}

.panel-footer {
	padding: 0 15px;
}

.viz-types {
	background-color: #ffffff;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 36px);
	padding: 15px 0;
}

/* ==== Panel is collapsed ==== */
.panel.is-collapsed {
	grid-template-rows: auto 1fr;
	overflow: hidden;
	width: 2.5%;
}

.panel.is-collapsed .icon-close {
	transform: rotate(45deg);
}

.panel.is-collapsed .panel-head {
	flex-direction: column;
	padding: 0;
}

.panel.is-collapsed .panel-head .panel-title {
	margin-top: 20px;
	order: 1;
	writing-mode: vertical-lr;
	transform: rotate(180deg)
}

.panel.is-collapsed .panel-body {
	padding: 0;
}

.panel.is-collapsed .panel-body .panel-content {
	display: none;
}

/* ==== Helpers ==== */
.box-shadow {
	box-shadow: 5px 5px 7px 0 #eef3f5;
}

.btn {
	border-radius: 2px;
	color: #b70f7f;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0.7px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.3s linear;
}

.btn:hover {
	background: rgba(189, 202, 209, 0.1);
}

.top-malibu {
	border-top: 2px solid #74d1f7;
}

.top-chardonnay {
	border-top: 2px solid #feca84;
}

.text-malibu {
	color: #74d1f7;
}

.text-chardonnay {
	color: #feca84;
}

.icon-close {
	transition: transform 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.icon-close line {
	cursor: pointer;
	stroke-width: 2;
	stroke: #bdcad1;
}

.icon-close--malibu line {
	stroke: #74d1f7;
}

.icon-close--chardonnay line {
	stroke: #feca84;
}
/* ================= */
