@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

/* ==== Helpers ==== */

.box-shadow {
	box-shadow: 5px 5px 7px 0 #eef3f5;
}

.panel--small {
	margin-right: 1%;
	width: 22%;
}

.panel--big {
	width: 54%;
}

.mb-1 {
	margin-bottom: 15px;
}

.collapsed {
	width: 2.5%;
}

.expanded {
	width: 44.5%;
}

.btn {
	border-radius: 2px;
	color: #b70f7f;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0.7px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.3s linear;
}

.btn:hover {
	background: rgba(189, 202, 209, 0.1);
}

/* ================= */

.app-container {
	background-color: #fbfdfe;
	/* background-color: black; */
	display: flex;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	transition: width 0.3s linear;
	transition-delay: 0.1s;
}

.panel-head {
	align-items: center;
	display: flex;
	height: 20px;
	justify-content: space-between;
	margin-bottom: 15px;
	transition: opacity 0.1s linear;
	transition-delay: 0.3s;
}

.panel-title {
	/* color: #bdcad1; */
	color: #8097a4;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

.panel-title--rotated {
	color: #b70f7f;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	margin-top: 15px;
	display: none;
}

.panel-body {
	background-color: #ffffff;
	color: #8097a4;
	flex-grow: 1;
	padding: 15px;
}

.panel-collapse {
	text-align: right;
	font-weight: 700;
}

.panel-collapse__close {
	cursor: pointer;
	transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.viz-types {
	display: grid;
	background-color: #ffffff;
	grid-template-columns: repeat(auto-fill, 36px);
	grid-gap: 20px;
	padding: 15px;
	margin-top: 15px;
}

/* When rotated */
.panel.collapsed .panel-head {
	opacity: 0;
	transition-delay: 0s;
}

.panel.collapsed .panel-title--rotated {
	display: block;
}

.panel.collapsed .panel-body {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.panel.collapsed .panel-collapse__close {
	transform: rotate(45deg);
}
