:root {
  --aqua: #A6CEDE;
  --valentino: #0E0329;
  --gumbo: #8097A4;
  --violet: #2B0834;
  --polar: #FBFDFE;
  --magenta: #B70F7F;
  --disco: #801549;
  --chardonnay: #FECA84;
  --purple-rock: #2E0F35;
  --malibu: #74D1F7;
  --fringy: #ACD9C2;
  --gunsmoke: #868888;
  --silver-sand: #C2C4C4;
  --porcelain: #EEF1F2;
  --gray1: #888;
  --gray2: #ccc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  color: orange;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background: var(--aqua);
  border: none;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
}

.layout {
  background: var(--valentino);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 15px;
  position: relative;
}

/*====================*/
/*       Modal       */
/*====================*/
.ds__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 3, 41, 0.8);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 150ms;
  color: var(--valentino);
}

.ds__modal-wrapper.opened {
  opacity: 1;
  z-index: 10;
}

.ds__modal {
  background: #ffffff;
  border-radius: 3px;
  padding: 15px;
  min-width: 300px;
  max-width: 50%;
  transition-delay: 150ms;
  transition: all 200ms cubic-bezier(1.000, -0.070, 0.460, 1.430);
  transform: scale(0);
  max-height: 70%;
  overflow-y: auto;
}

.shiny-html-output {
  background-color: transparent;
  color: #ffffff;
}

.ds__modal.opened {
  transform: scale(1);
}

.ds__modal-header {
  margin: 0;
}

.ds__modal-body {
  padding: 15px 0;
}

.ds__modal-footer {
  text-align: right;
}

/*====================*/
/*     Layout nav     */
/*====================*/
.layout__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}

.section__nav {
  align-items: center;
  display: flex;
  padding: 0 0 15px;
  width: 50%;
}

.data__nav {
  overflow: auto;
  padding-right: 15px;
}

.viz__nav {
  display: flex;
  font-size: small;
  justify-content: space-between;
  width: 50%;
  padding-left: 15px;
}

.section__nav a {
  color: inherit;
  text-decoration: none;
  font-size: small;
}

/*====================*/
/*     Layout body    */
/*====================*/
.layout__body {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  position: relative;
}

.viz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  width: 50%;
}

.viz__result {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.viz__result.shrinked {
  width: 65%;
}

.viz__settings {
  overflow: hidden;
  width: 0;
}

.viz__settings.grown {
  max-height: 500px;
  overflow: auto;
  width: 30%;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 15px;
  width: 50%;
}

.data__preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data__preview.shrinked {
  width: 65%;
}

.data__settings {
  overflow: hidden;
  width: 0;
}

.data__settings.grown {
  max-height: 500px;
  overflow: auto;
  width: 30%;
}

/*CUSTOM JP*/
.section__content.data{
  overflow: auto;
}

/*====================*/
/*       Dragbar      */
/*====================*/
.drag {
  background: var(--magenta);
  cursor: col-resize;
  border-radius: 2.5px;
  width: 2.5px;
}

/*====================*/
/*   Shared styles    */
/*====================*/


.shiny-input-container {
  align-items: center;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: small;
  margin: 0 15px 0 0;
  white-space: nowrap;
  /*margin-bottom: 10px;*/
}

.settings hr{
  border-color: var(--disco);
}

.shiny-input-container label {
  font-weight: lighter;
  margin: 0 0 0 5px;
}

.shiny-input-container {
  align-items: stretch;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.shiny-input-container input[type="text"] {
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

input[type="text"]:focus {
  border: 1px solid #A6CEDE;
}

.shiny-input-container input[type="number"] {
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

.form-group{
  background: var(--valentino);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

.selectize-control.single .selectize-input{
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

.selectize-control.single .selectize-dropdown{
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}


input[type="radio"] {
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid var(--aqua);
  padding: 8px;
  position: relative;
  appearance: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  outline: none;
  transition: all 0.25s;
}

input[type="radio"]:active,
input[type="radio"]:checked:active,
input[type="radio"]:checked {
  border-color: var(--disco);
  background-color: var(--magenta);
}

input[type="radio"]:checked + span{
  color: var(--magenta)
}

.radio label, .radio-inline{
    display: inline-flex;
    align-items: center;
}

input[type="radio"]:checked:after {
  background: var(--polar);
  left: 50%;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  content: '';
  height: 5px;
  transform: translate(-50%, -50%);
  width: 5px;
  z-index: 1;
}



/*.input__field {
  align-items: center;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: small;
  margin: 0 15px 0 0;
  white-space: nowrap;
}

.input__field_margin {
  margin-bottom: 10px;
}

.input__field label {
  font-weight: lighter;
  margin: 0 0 0 5px;
}

.input__field_vertical {
  align-items: stretch;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.input__field_vertical input[type="input"] {
  background: var(--purple-rock);
  color: var(--polar);
  border: none;
  margin: 5px 0 0;
  padding: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid var(--aqua);
  padding: 8px;
  position: relative;
  appearance: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  outline: none;
  transition: all 0.25s;
}

input[type="radio"]:active,
input[type="radio"]:checked:active,
input[type="radio"]:checked {
  border-color: var(--disco);
  background-color: var(--magenta);
}

input[type="radio"]:checked + label {
  color: var(--magenta)
}

input[type="radio"]:checked:after {
  background: var(--polar);
  left: 50%;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  content: '';
  height: 5px;
  transform: translate(-50%, -50%);
  width: 5px;
  z-index: 1;
}
*/
.settings fieldset {
  padding-top: 0;
  border: 1px solid var(--aqua);
  min-width: 0;
}

.settings legend {
  color: var(--aqua);
  font-size: small;
}

#edit-data.active,
#edit-graphic.active {
  color: var(--magenta);
}
/*====================*/
/*     Scrollbars     */
/*====================*/
.data__nav::-webkit-scrollbar {
  height: 3px;
}


.settings::-webkit-scrollbar
  height: 3px;
  width: 3px;
}

.ds__modal::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

.ds__modal::-webkit-scrollbar-track,
.data__nav::-webkit-scrollbar-track,
.settings::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--gumbo);
}

.ds__modal::-webkit-scrollbar-thumb,
.data__nav::-webkit-scrollbar-thumb,
.settings::-webkit-scrollbar-thumb {
  background: var(--aqua);
  border-radius: 10px;
}


/*====================*/
/*        Tabs        */
/*====================*/
.ds__tabs {
  display: flex;
  font-size: small;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ds__tab {
  border-radius: 2px;
  cursor: pointer;
  padding: 3px 10px;
  text-align: center;
  transition: all 0.3s;
}

.ds__tab.active {
  background: var(--magenta);
}

.ds__tab-content {
  padding: 5px 0;
}

.ds__tab-content-pane {
  display: none;
}

.ds__tab-content-pane.active {
  display: block;
}


.imgCont {
 width: 70px;
 height: 70px;
}

.imgButton {
 cursor: pointer;
 background: transparent;
 position: relative;
 width: 85px;
 height: 85px;
 vertical-align: middle;
 text-align: center;
 align-content: center;
 box-shadow: none;
 border: 1px solid #B70F7F;
 margin: 3px 3px 3px 3px;
}

.imgButton.active {
 border: 1px solid #A6CEDE;
}

#basic, #advanced {
 width: 100%;
 max-width: 100%;
}
